body {
  font-family: arial, helvetica, sans serif;
  background-image: url(paper.gif);
  background: rgba(0,128,0,0.1);
  margin: 10% 20%;
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #120;
  border-bottom: 1px solid #120;
  text-align: center;
}
