body {
  font-size:20px;
  font-family: arial, helvetica;
  background: rgba(0,120,0,0.1);
  margin: 10% 20%;
}
aside {
  width: 30%;
  padding-right: 15px;
  margin-right: 25px;
  float: left;
  font-style: italic;
  border-right:1px solid #120;
  background-color: lightblue;
}
.summary {
  float : right ;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
}
.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #120;
  border-bottom: 1px solid #120;
  text-align: center;
}
